body{
  background-image:url(img2.jpg);
}

h1{
  color:white;
  background-color:#181818;
  padding: 15px;
  margin: 10px;
  border: 3px solid #1E2E34;
  border-radius: 100px;
  opacity: 0.7;
  box-shadow:5px 5px 17px #000000;
width: 90%;
height: 35px;
text-align: center;
}
h2{
  transform:rotate(0deg)scale(0.9);
  transition: 0.5s all;
  color: #FFFFFF;
  background-color: #212121;
  padding: 10px;
  margin: 20px;
  border: 3px solid #1E2E34;
  border-radius: 100px;
  box-shadow:5px 5px 17px #000000;
width: 20%;
height: 20px;
display:block;
text-align: center;
font-size: 20px;
font-weight: 800;
margin-left: 300px;
}
h2:hover{
    transform: rotate(360deg);
    background-color: #2A1714;
    opacity: 0.5;
}

#text1 {
color:#B2B2DF;
font-size:200;
margin:30px;
}
.a1{
  color:#DF39D9;
  font-weight:bold;
  font-size: 100;
}
